<div class="notice"></div>
<div class="error"></div>

<%= render 'layouts/nav' %>
<% if current_user %>
  <script>
    loggedinNav();
  </script>
<% else %>
  <script>
    loggedoutNav();
  </script>
<% end %>


<div class="content">

  <%= render 'sessions/new' %>

  <%= render 'users/new' %>

  <% if current_user %>
  <%= render 'users/show' %>
  <% end %>

  <%= render 'entries/new' %>

</div>
